.otherProjects {
  display: flex;
  flex-direction: column;
  padding: 100px clamp(50px, 7vw, 60px);
  margin: 0 auto;
  max-width: 1100px;
  &__heading {
    margin-bottom: 5px;
    font-size: clamp(24px, 5vw, 32px);
    font-weight: 500;
    text-align: center;
    color: #ccd6f6;
  }
  &__github {
    font-family: "Space Mono", monospace;
    font-size: 14px;
    text-align: center;
  }
  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 0px;
    margin: 50px 0px 0px;
    position: relative;
    list-style: none;
    &__item {
      display: flex;
      flex-direction: column;
      padding: 30px 25px;
      height: 350px;
      background-color: rgb(19, 28, 46);
      border-radius: 5px;
      &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__links {
          display: flex;
          &__icon--external {
            margin-left: 13px;
          }
        }
      }
      &__mid {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        &__title {
          margin-bottom: 10px;
          font-size: 22px;
          color: rgb(204, 214, 246);
        }
        &__description {
          font-size: 17px;
          line-height: 20px;
        }
      }
      &__bot {
        display: flex;
        align-items: flex-end;
        height: 100%;
        &__tech {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-family: "Space Mono", monospace;
          font-size: 13px;
          &__item {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .otherProjects__projects {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
@media (max-width: 768px) {
  .otherProjects__projects {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}
@media (max-width: 480px) {
  .otherProjects {
    padding: 60px 10px;
  }
}
