.projects {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px clamp(50px, 7vw, 70px);
  &__heading {
    display: flex;
    min-width: 200px;
    font-size: clamp(26px, 5vw, 32px);
    font-weight: 600;
    white-space: nowrap;
    align-items: center;
    margin: 10px 0px 40px;
    color: #ccd6f6;

    &:before {
      content: "02.";
      display: flex;
      margin: 3px 10px 0px 0px;
      font-family: "Space Mono", monospace;
      font-size: clamp(18px, 4vw, 23px);
      font-weight: 400;
      color: rgb(100, 255, 218);
    }
    &:after {
      content: "";
      display: block;
      position: relative;
      margin-left: 20px;
      margin-top: clamp(4px, 1.2vw, 7px);
      width: 300px;
      height: 1px;
      background-color: white;
    }
  }
  &__list {
    font-size: 10px;
    &__item {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      &__content {
        width: 100%;
        grid-area: 1 / 7 / 2 / 13;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 10;
        border: 2px solid white;
        &__overline {
          display: flex;
          text-align: right;
          font-size: 13px;
          font-family: "Space Mono", monospace;
        }
        &__title {
          display: flex;
          font-size: clamp(24px, 5vw, 28px);
        }
        &__description {
          background-color: rgba(2, 12, 27, 0.7);
          padding: 25px;
          text-align: right;
          font-size: 18px;
        }
        &__tech {
          display: flex;
          flex-direction: row;
          font-family: "Space Mono", monospace;
          &__item {
            display: flex;
            padding: 0px 5px 0px 0px;
          }
        }
        &__links {
          display: flex;
          flex-direction: row;
          &__icon {
            display: flex;
            padding: 0px 5px;
          }
        }
      }
      &__imageDiv {
        grid-area: 1 / 1 / 2 / 8;
        border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        &__img {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .projects__list__item__content {
    grid-area: 1 / 5 / 2 / 13;
  }
  .projects__heading::after {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .projects__list__item__content {
    padding: 40px 30px;
  }
  .projects_.projects__heading::after {
    width: 100%;
  }
  .projects__list__item__content,
  .projects__list__item__imageDiv {
    grid-column: 1 / -1;
  }
  .projects__list__item__content__title,
  .projects__list__item__content__overline,
  .projects__list__item__content__description,
  .projects__list__item__content__tech,
  .projects__list__item__content__links {
    text-align: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
  }
  .projects__list__item__imageDiv__img {
    object-fit: cover;
    height: 100%;
    opacity: 25%;
  }
}
