.projects {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px clamp(50px, 7vw, 70px);
  &__heading {
    display: flex;
    min-width: 200px;
    font-size: clamp(26px, 5vw, 32px);
    font-weight: 500;
    white-space: nowrap;
    align-items: center;
    margin: 10px 0px 40px;
    color: #ccd6f6;

    &:before {
      content: "02.";
      display: flex;
      margin: 3px 10px 0px 0px;
      font-family: "Space Mono", monospace;
      font-size: clamp(18px, 4vw, 23px);
      font-weight: 400;
      color: rgb(100, 255, 218);
    }
    &:after {
      content: "";
      display: block;
      position: relative;
      margin-left: 20px;
      margin-top: clamp(4px, 1.2vw, 7px);
      width: 300px;
      height: 1px;
      background-color: #233554;
    }
  }
  &__list {
    font-size: 10px;
    &__item,
    &__item--flipped {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      margin-bottom: 100px;
      &__content {
        width: 100%;
        grid-area: 1 / 7 / 2 / 13;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 10;
        &__overline {
          display: flex;
          text-align: right;
          font-size: 13px;
          font-family: "Space Mono", monospace;
          color: rgb(100, 255, 218);
          margin-bottom: 5px;
        }
        &__title {
          display: flex;
          font-size: clamp(24px, 5vw, 28px);
          color: rgb(204, 214, 246);
          margin-bottom: 20px;
        }
        &__description {
          background-color: rgba(2, 12, 27, 0.7);
          padding: 25px;
          text-align: right;
          font-size: 18px;
          border-radius: 4px;
          color: rgb(168, 178, 209);
        }
        &__tech {
          display: flex;
          flex-direction: row;
          font-family: "Space Mono", monospace;
          color: rgb(168, 178, 209);
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 13px;
          margin-right: -3px;
          flex-wrap: wrap;
          &__item {
            display: flex;
            padding: 0px 5px 0px 0px;
            margin-left: 12px;
          }
        }
        &__links {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          width: 63px;
          justify-content: space-between;
          &__icon {
            display: flex;
            cursor: pointer;
          }
        }
      }
      &__imageDiv {
        grid-area: 1 / 1 / 2 / 8;
        display: flex;
        align-items: center;
        justify-content: center;
        &__img {
          width: 100%;
        }
      }
    }
  }
}

.content--flipped {
  grid-area: 1 / 1 / 2 / 7;
  align-items: flex-start;
}
.description--flipped {
  text-align: left;
}
.item--flipped {
  margin-right: 12px;
  margin-left: 0px;
}
.imageDiv--flipped {
  grid-area: 1 / 6 / 2 / 13;
}

@media (max-width: 1080px) {
  .projects__list__item__content {
    grid-area: 1 / 5 / 2 / 13;
  }
  .content--flipped {
    grid-area: 1 / 1 / 2 / 9;
  }
  .projects__heading::after {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .projects__list__item {
    margin-bottom: 70px;
  }
  .projects__list__item__content {
    padding: 40px 30px;
  }
  .projects_.projects__heading::after {
    width: 100%;
  }
  .projects__list__item__content,
  .projects__list__item__imageDiv {
    grid-column: 1 / -1;
  }
  .projects__list__item__content {
    align-items: flex-start;
  }
  .projects__list__item__content__title,
  .projects__list__item__content__overline,
  .projects__list__item__content__description,
  .projects__list__item__content__tech,
  .projects__list__item__content__links {
    text-align: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
  }
  .projects__list__item__content__links {
    width: 63px;
  }
  .projects__list__item__content__tech__item {
    margin-left: 0;
    margin-right: 10px;
  }
  .projects__list__item__imageDiv__img {
    object-fit: cover;
    height: 100%;
    opacity: 25%;
  }
}
@media (max-width: 480px) {
  .projects{
    padding: 60px 10px;
  }
  .projects__list__item {
    margin-bottom: 30px;
  }
}
