p {
  margin-top: 8px;
  margin-bottom: 8px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #382929;
  border: 0px none #ffffff;
  border-radius: 65px;
}
::-webkit-scrollbar-thumb:hover {
  background: #382929;
}
::-webkit-scrollbar-thumb:active {
  background: #382929;
}
::-webkit-scrollbar-track {
  background: #554141;
  border: 0px none #ffffff;
  border-radius: 21px;
}
::-webkit-scrollbar-track:hover {
  background: #554141;
}
::-webkit-scrollbar-track:active {
  background: #554141;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
