$-c-green: hsl(166, 100%, 70%); // #66ffdb
$-c-darkGreen: rgba(39, 221, 191, 0.25); // #27ddbf40

$-c-gray: hsl(225, 20%, 61%); // #8892b0
$-c-lightGray: hsl(226, 70%, 88%); // #cbd5f6

$-ff-base: "Kanit", sans-serif;
$-ff-mono: "Space Mono", monospace;
