.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 35px;
  bottom: 0px;
  z-index: 10;
  &__icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    &__icon {
      display: flex;
      margin-top: 12px;
      cursor: pointer;
      color: #a8b2d1;
      transition: all 0.5s ease;
      &:hover {
        color: rgb(100, 255, 218);
        transform: scale(1.25);
      }
    }
  }

  &:after {
    content: "";
    display: block;
    margin: 0px auto;
    width: 1px;
    height: 90px;
    background-color: #a8b2d1;
  }
}
@media (max-width: 1080px) {
  .socials {
    left: 15px;
  }
}
@media (max-width: 768px) {
  .socials {
    display: none;
  }
}


