.navBar {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Space Mono", monospace;
  color: rgb(100, 255, 218);
  height: 100px;
  &__logo {
    display: flex;
    display: flex;
    width: 50px;
  }
  &__hamburger {
    position: absolute;
    top: 23px;
    right: 41px;
    display: none;
    font-size: 15px;
    cursor: pointer;
    z-index: 10;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    font-size: 14px;
    align-items: center;
    &__link {
      display: flex;
      padding: 3px 10px;
      margin: 0px 5px;
    }
    &__resume {
      display: flex;
      border: 1px solid white;
      border-radius: 4px;
      padding: 8px 16px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
  &__menu--active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    filter: blur(0);
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(min(75vw, 400px));
    height: 100vh;
    background-color: #112240;
    z-index: 5;
    transform: translateX(0%);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
.project__content {
  grid-area: 1 / 5 / 2 / 12;
}
.project__image {
  grid-area: 1 / 1 / 2 / 8;
}

@media (max-width: 768px) {
  .navBar__links {
    display: none;
  }
  .navBar__menu {
    display: none;
  }
  .navBar__hamburger {
    display: flex;
  }
  .navBar__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #112240;
    width: 250px;
    height: 92vh;
    z-index: 5;
    transform: translateX(100vw);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
@media (min-width: 768px) {
  .navBar__menu--active {
    display: none;
  }
  .navBar__menu {
    display: none;
  }
}
