.menu {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  width: 20px;
  height: 20px;
  font-size: 15px;
  cursor: pointer;
}
.navBar {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Space Mono", monospace;
  color: rgb(100, 255, 218);
  height: 100px;
  &__logo {
    display: flex;
    display: flex;
    width: 50px;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    font-size: 14px;
    align-items: center;
    &__link {
      display: flex;
      padding: 3px 10px;
      margin: 0px 5px;
    }
    &__resume {
      display: flex;
      border: 1px solid white;
      border-radius: 4px;
      padding: 8px 16px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
  &__menu {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    flex-direction: column;
    top: 8vh;
    background-color: red;
    right: 0;
    height: 92vh;
    width: 250px;
    outline: 0px;
    z-index: 9;
    transform: translateX(0%);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    &__link {
      display: flex;
      padding: 3px 10px;
      margin: 0px 5px;
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.project__content {
  grid-area: 1 / 5 / 2 / 12;
}
.project__image {
  grid-area: 1 / 1 / 2 / 8;
}

@media (max-width: 768px) {
  .navBar__links {
    display: none;
  }
  .navBar__menu {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .navBar__menu--active {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    height: 92vh;
    transform: translateX(100%);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 250px;
    flex-direction: column;
    z-index: 100;
  }
}
@media (min-width: 768px) {
  .navBar__menu--active {
    display: none;
  }
}
