@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
strong {
  font-weight: 400;
  color: #64ffda;
}

.mr-8 {
  margin-right: 8px;
}

#wrapper {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #64ffda;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #382929;
  border: 0px none #ffffff;
  border-radius: 65px;
}

::-webkit-scrollbar-thumb:hover {
  background: #382929;
}

::-webkit-scrollbar-thumb:active {
  background: #382929;
}

::-webkit-scrollbar-track {
  background: #554141;
  border: 0px none #ffffff;
  border-radius: 21px;
}

::-webkit-scrollbar-track:hover {
  background: #554141;
}

::-webkit-scrollbar-track:active {
  background: #554141;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.navBar--active {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navBar,
.navBar--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 0px 50px;
  width: 100%;
  height: 80px;
  font-family: "Space Mono", monospace;
  z-index: 100;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navBar__logo,
.navBar--active__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52px;
  cursor: pointer;
}

.navBar__hamburger,
.navBar--active__hamburger {
  display: none;
}

.navBar__links,
.navBar--active__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 450px;
  font-size: 14px;
}

.navBar__links__link,
.navBar--active__links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 10px;
  margin: 0px 5px;
  color: #ccd6f6;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.navBar__links__link:hover,
.navBar--active__links__link:hover {
  color: #64ffda;
}

.navBar__links__resume,
.navBar--active__links__resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  margin-left: 15px;
  border: 1px solid #64ffda;
  border-radius: 4px;
  cursor: pointer;
  color: #ccd6f6;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.navBar__links__resume:hover,
.navBar--active__links__resume:hover {
  background-color: rgba(39, 222, 191, 0.25);
}

.navBar__menu, .navBar__menu--active,
.navBar--active__menu,
.navBar--active__menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-filter: blur(0);
          filter: blur(0);
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(min(75vw, 400px));
  height: 100vh;
  background-color: #112240;
  z-index: 5;
  color: #ccd6f6;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-area: 1 / 5 / 2 / 12;
}

.project__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / 2 / 8;
}

.navBar__menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 10px;
  font-size: 19px;
  color: #ccd6f6;
  cursor: pointer;
}

.navBar__menu__resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 40px;
  border: 1px solid #64ffda;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
  color: #ccd6f6;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.navBar__menu__resume:hover {
  background-color: rgba(39, 222, 191, 0.25);
}

@media (max-width: 768px) {
  .navBar,
  .navBar--active {
    padding: 0px 10px;
  }
  .navBar__links {
    display: none;
  }
  .navBar__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 23px;
    right: 10px;
    font-size: 15px;
    color: #64ffda;
    cursor: pointer;
    z-index: 10;
  }
  .navBar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    -webkit-filter: blur(0);
            filter: blur(0);
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(min(75vw, 400px));
    height: 100vh;
    background-color: #112240;
    z-index: 5;
    color: #ccd6f6;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@media (min-width: 769px) {
  .navBar__menu,
  .navBar__menu--active {
    display: none;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 35px;
  bottom: 0px;
  z-index: 10;
}

.socials__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.socials__icons__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  cursor: pointer;
  color: #a8b2d1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.socials__icons__icon:hover {
  color: #64ffda;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.socials:after {
  content: "";
  display: block;
  margin: 0px auto;
  width: 1px;
  height: 90px;
  background-color: #a8b2d1;
}

@media (max-width: 1080px) {
  .socials {
    left: 15px;
  }
}

@media (max-width: 768px) {
  .socials {
    display: none;
  }
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  position: absolute;
  width: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 13px;
  color: #656e8b;
  font-family: "Space Mono", monospace;
}

.design__text {
  color: #656e8b;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  right: 35px;
  bottom: 0px;
  width: 19px;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #a8b2d1;
  letter-spacing: 1.2px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mail__text:hover {
  color: #64ffda;
}

.mail__text:after {
  content: "";
  display: block;
  margin: 0px auto;
  margin-top: 25px;
  width: 1px;
  height: 90px;
  background-color: #a8b2d1;
  -webkit-transition: none;
  transition: none;
}

@media (max-width: 1080px) {
  .mail {
    right: 15px;
  }
}

@media (max-width: 768px) {
  .mail {
    display: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px clamp(50px, 7vw, 70px);
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  text-align: left;
}

.hero__greet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  font-family: "Space Mono", monospace;
  font-size: clamp(14px, 5vw, 16px);
  color: #64ffda;
}

.hero__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: clamp(36px, 6vw, 74px);
  font-weight: 500;
  color: #ccd6f6;
  line-height: 110%;
}

.hero__catchphrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 22px;
  font-size: clamp(36px, 6vw, 74px);
  font-weight: 500;
  color: #8892b0;
  line-height: 110%;
}

.hero__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  max-width: 500px;
  font-family: "Kanit", sans-serif;
  font-size: clamp(18px, 3.5vw, 20px);
  font-weight: 400;
  color: #8892b0;
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 28px;
  font-family: "Space Mono", monospace;
  color: #64ffda;
  border: 1px solid #64ffda;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.hero__button:hover {
  background-color: rgba(39, 222, 191, 0.25);
}

@media (max-width: 480px) {
  .hero {
    padding: 60px 10px;
  }
}

@media (max-width: 480px) and (max-height: 650px) {
  .hero {
    padding-top: 100px;
  }
}

@media (min-width: 768px) and (max-height: 650px) {
  .hero {
    padding-top: 100px;
  }
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px clamp(50px, 7vw, 70px);
  margin: 0 auto;
  max-width: 1000px;
}

.aboutMe__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(26px, 5vw, 32px);
  font-weight: 500;
  color: #ccd6f6;
}

.aboutMe__heading:before {
  content: "01.";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 10px 0px 0px;
  font-family: "Space Mono", monospace;
  font-size: clamp(18px, 4vw, 23px);
  font-weight: 400;
  color: #64ffda;
}

.aboutMe__heading:after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin: clamp(4px, 1.2vw, 7px) 0px 0px 20px;
  background-color: #233554;
}

.aboutMe__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

.aboutMe__skillsUl {
  -webkit-columns: 2;
          columns: 2;
  margin: 8px 0px 0px 20px;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  list-style-type: "› ";
}

@media (max-width: 1080px) {
  .aboutMe__heading::after {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .aboutMe__heading::after {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .aboutMe {
    padding: 60px 10px;
  }
}

@media (max-width: 360px) {
  .aboutMe__skillsUl {
    -webkit-columns: 1;
            columns: 1;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1100px;
  padding: 100px clamp(50px, 7vw, 70px);
  margin: 0 auto;
}

.projects__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin: 10px 0px 40px;
  min-width: 200px;
  font-size: clamp(26px, 5vw, 32px);
  font-weight: 500;
  color: #ccd6f6;
}

.projects__heading:before {
  content: "02.";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 10px 0px 0px;
  font-family: "Space Mono", monospace;
  font-size: clamp(18px, 4vw, 23px);
  font-weight: 400;
  color: #64ffda;
}

.projects__heading:after {
  content: "";
  display: block;
  position: relative;
  margin-top: clamp(4px, 1.2vw, 7px);
  margin-left: 20px;
  width: 300px;
  height: 1px;
  background-color: #233554;
}

.projects__list {
  font-size: 10px;
}

.projects__list__item, .projects__list__item--flipped {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
  margin-bottom: 100px;
}

.projects__list__item__content, .projects__list__item--flipped__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: 1 / 7 / 2 / 13;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  z-index: 10;
}

.projects__list__item__content__overline, .projects__list__item--flipped__content__overline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 13px;
  color: #64ffda;
}

.projects__list__item__content__title, .projects__list__item--flipped__content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: clamp(24px, 5vw, 28px);
  color: #ccd6f6;
}

.projects__list__item__content__description, .projects__list__item--flipped__content__description {
  padding: 25px;
  text-align: right;
  font-size: 18px;
  border-radius: 4px;
  color: #a8b2d1;
  background-color: rgba(2, 12, 27, 0.7);
  -webkit-box-shadow: 2, 12, 27, 0.7 0px 10px 30px -15px;
          box-shadow: 2, 12, 27, 0.7 0px 10px 30px -15px;
}

.projects__list__item__content__tech, .projects__list__item--flipped__content__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -3px 10px 0px;
  font-family: "Space Mono", monospace;
  font-size: 13px;
  color: #a8b2d1;
}

.projects__list__item__content__tech__item, .projects__list__item--flipped__content__tech__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px 0px 0px;
  margin-left: 12px;
}

.projects__list__item__content__links, .projects__list__item--flipped__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 63px;
}

.projects__list__item__content__links__icon, .projects__list__item--flipped__content__links__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.projects__list__item__imageDiv, .projects__list__item--flipped__imageDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / 2 / 8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__list__item__imageDiv__img, .projects__list__item--flipped__imageDiv__img {
  width: 100%;
  -webkit-filter: brightness(93%);
          filter: brightness(93%);
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.25s ease;
  transition: -webkit-filter 0.25s ease;
  transition: filter 0.25s ease;
  transition: filter 0.25s ease, -webkit-filter 0.25s ease;
}

.projects__list__item__imageDiv__img:hover, .projects__list__item--flipped__imageDiv__img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.content--flipped {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / 2 / 7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description--flipped {
  text-align: left;
}

.item--flipped {
  margin-right: 12px;
  margin-left: 0px;
}

.imageDiv--flipped {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-area: 1 / 6 / 2 / 13;
}

@media (max-width: 1080px) {
  .projects__list__item__content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-area: 1 / 5 / 2 / 13;
  }
  .content--flipped {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 1 / 1 / 2 / 9;
  }
  .projects__heading::after {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .projects__list__item {
    margin-bottom: 70px;
  }
  .projects_.projects__heading::after {
    width: 100%;
  }
  .projects__list__item__content {
    padding: 40px 30px;
  }
  .projects__list__item__content,
  .projects__list__item__imageDiv {
    grid-column: 1 / -1;
  }
  .projects__list__item__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects__list__item__content__title,
  .projects__list__item__content__overline,
  .projects__list__item__content__description,
  .projects__list__item__content__tech,
  .projects__list__item__content__links {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    text-align: left;
    background-color: transparent;
  }
  .projects__list__item__content__links {
    width: 63px;
  }
  .projects__list__item__content__tech__item {
    margin: 0px 10px 0px 0px;
  }
  .projects__list__item__imageDiv {
    opacity: 25%;
  }
  .projects__list__item__imageDiv__img {
    opacity: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 480px) {
  .projects {
    padding: 60px 10px;
  }
  .projects__list__item {
    margin-bottom: 30px;
  }
}

.otherProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px clamp(50px, 7vw, 60px);
  margin: 0 auto;
  max-width: 1100px;
}

.otherProjects__heading {
  margin-bottom: 5px;
  font-size: clamp(24px, 5vw, 32px);
  font-weight: 500;
  text-align: center;
  color: #ccd6f6;
}

.otherProjects__github {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  text-align: center;
}

.otherProjects__projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 0px;
  margin: 50px 0px 0px;
  position: relative;
  list-style: none;
}

.otherProjects__projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 25px;
  height: 350px;
  background-color: #131c2e;
  border-radius: 5px;
}

.otherProjects__projects__item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otherProjects__projects__item__top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.otherProjects__projects__item__top__links__icon--external {
  margin-left: 13px;
}

.otherProjects__projects__item__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.otherProjects__projects__item__mid__title {
  margin-bottom: 10px;
  font-size: 22px;
  color: #ccd6f6;
}

.otherProjects__projects__item__mid__description {
  font-size: 17px;
  line-height: 20px;
}

.otherProjects__projects__item__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.otherProjects__projects__item__bot__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Space Mono", monospace;
  font-size: 13px;
}

.otherProjects__projects__item__bot__tech__item {
  margin-right: 15px;
}

@media (max-width: 1080px) {
  .otherProjects__projects {
    -ms-grid-columns: (minmax(270px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media (max-width: 768px) {
  .otherProjects__projects {
    -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

@media (max-width: 480px) {
  .otherProjects {
    padding: 60px 10px;
  }
}

.contact--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  background-color: #2a3342;
  padding-bottom: 150px;
}

.contact--wrapper__buildings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 150px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  background-color: #17171a;
  margin-bottom: -150px;
}

.contact--wrapper__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0px clamp(50px, 7vw, 70px);
}

.contact--wrapper__contact__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 200px 43px 5px 0px;
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 500;
  color: #ccd6f6;
}

.contact--wrapper__contact__heading:before {
  content: "03.";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
  font-family: "Space Mono", monospace;
  font-size: clamp(18px, 3vw, 23px);
  font-weight: 400;
  line-height: clamp(53px, 6.8vw, 77px);
  color: #64ffda;
}

.contact--wrapper__contact__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: -8px;
  padding: 0px 10px 42px 10px;
  text-align: center;
  font-size: clamp(18px, 3.5vw, 20px);
  max-width: 700px;
}

.contact--wrapper__contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 28px;
  margin: 0 auto;
  border: 1px solid #64ffda;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Space Mono", monospace;
  color: #64ffda;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.contact--wrapper__contact__button:hover {
  background-color: rgba(39, 222, 191, 0.25);
}

@media (max-width: 480px) {
  .contact--wrapper__contact__description {
    font-size: 18px;
    padding: 0px 0px 42px 0px;
  }
  .contact--wrapper__contact {
    padding: 60px 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17171a;
  color: #8892b0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*# sourceMappingURL=index.css.map */