//Fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");

@import "./utils/Variables";
//Other Scss
@import "./components/App";
@import "./components/navigationBar/NavigationBar";
@import "./components/socials/Socials";
@import "./components/designed/Design";
@import "./components/mail/Mail";
@import "./components/hero/Hero";
@import "./components/aboutMe/AboutMe";
@import "./components/projects/Projects";
@import "./components/otherProjects/OtherProjects";
@import "./components/contact/Contact";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17171a;
  color: $-c-gray;
  font-family: $-ff-base;
  -webkit-font-smoothing: antialiased;
}
