.aboutMe {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  flex-direction: column;
  &__heading {
    display: flex;
    min-width: 200px;
    margin-bottom: 10px;
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__skillsUl {
    columns: 2;
    font-family: "Space Mono", monospace;
  }
}
