.aboutMe {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  margin: 0 auto;

  &__heading {
    display: flex;
    width: 100%;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
    align-items: center;
    margin: 10px 0px 40px;
    &:before {
      content: "01.";
      display: flex;
      margin: 3px 10px 0px 0px;
      font-family: "Space Mono", monospace;
      font-size: clamp(18px, 4vw, 23px);
    }
    &:after {
      content: "";
      display: block;
      position: relative;
      margin-left: 20px;
      margin-top: clamp(4px, 1.2vw, 7px);
      width: 300px;
      height: 1px;
      background-color: white;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  &__skillsUl {
    align-items: center;
    columns: 2;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    list-style-type: "› ";
    margin-left: 20px;
    margin-top: 8px;
  }
}
@media (max-width: 1080px) {
  .aboutMe {
    padding: 0px 100px;
  }
  .aboutMe__heading::after{
    width: 200px;
  }

}
@media (max-width: 768px) {
  .aboutMe {
    padding: 0px 50px;
  }
  .aboutMe__heading::after{
    width: 100%;
  }
}
@media (max-width: 360px) {
  .aboutMe__skillsUl{
    columns: 1;
  }
}
