.aboutMe {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  flex-direction: column;
  &__heading {
    display: flex;
    min-width: 200px;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
    align-items: center;
    height: 20px;
    margin: 10px 0px 40px;
    &:before {
      content: "01.";
      display: flex;
      margin: 2px 10px 0px 0px;
      font-family: "Space Mono", monospace;
      font-size: clamp(18px, 4vw, 23px);
    }
    &:after {
      content: "";
      display: block;
      position: relative;
      margin-left: 20px;
      margin-top: clamp(4px, 1.2vw, 7px);
      width: 300px;
      height: 1px;
      background-color: white;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__skillsUl {
    columns: 2;
    font-family: "Space Mono", monospace;
  }
}
